<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <h2><a routerLink="/">Menu</a></h2>
    <mat-nav-list>
      <mat-list-item><a routerLink="/delivery-points">Delivery Points</a></mat-list-item>
      <mat-list-item><a routerLink="/warehouses">Warehouses</a></mat-list-item>
      <mat-list-item><a routerLink="/vehicles">Vehicles</a></mat-list-item>
      <mat-list-item><a routerLink="/routes">Routes</a></mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content"></div>
  </mat-sidenav-content>
</mat-sidenav-container>
