.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

table {
  width: 100%;
  background-color: transparent;
}

.action-buttons {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.action-buttons button {
  color: inherit;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}
