h2 {
  margin-bottom: 1rem;
  color: #2c3e50;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.spinner-container {
  padding: 1rem;
  display: flex;
  justify-content: baseline;
  align-items: center;
  height: fit-content;
}


